body {
    background-color: red;
    color: gold;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    flex: 1 0 auto;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
}