:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

.container {
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.square {
    padding: 10px 10px;
    border: 0.5px solid lightgray;
}